echo "# Shirley-Dalo-Panel" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/shirley852/Shirley-Dalo-Panel.git
git push -u origin main
